<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="POST" action="/newteam">
  <label></label>Team Name: <input type="text" name="name"></p>
  <label></label>Coach: <input type="text" name="coach"></p>
  <label></label>Point Guard: <input type="text" name="pg"></p>
  <label></label>Shooting Guard: <input type="text" name="sg"></p>
  <label></label>Small Forward: <input type="text" name="sf"></p>
  <label></label>Power Forward: <input type="text" name="pf"></p>
  <label></label>Center: <input type="text" name="c"></p>
  <input type="submit" id="Submit" />
</form>
 </body>
</html>


